body {
    background: #E3E7AF;
}

header {
    background: #F1F7ED;
}

header h1 {
    color: #28464B;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    font-family: 'Lucida Sans Regular';
    font-size: 40px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex; 
    padding-left: 0;
    list-style: none;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    margin: 0 20px 0 0;
    
}

header nav ul li:last-child a {
    margin-right: 0;
  }