.container {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  font-weight: 800;
  color: #044389;
  background: #a0b9c6;
}

.name h1 {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 90px;
  margin-bottom: 0;
}

header {
  display: flex;
  flex-direction: column;
  color: #00a5cf;
  background: #004e64;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
}

header nav ul li a {
  color: #00a5cf;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

#home {
  display: flex;
  flex-direction: column;
  color: #044389;
  background: #a0b9c6;
  padding-top: 5%;
}

.home-content p {
    padding-left: 3%;
    padding-right: 3%;
}
img {
  width: 65%;
  margin: auto;
  border-radius: 10px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h4 {
    font-size: 20px;
    padding-top: 0;
    margin-top: 2%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: #a0b9c6;
    background: #044389;
    width: 100%;

}

p {
  font-size: 17px;
  text-align: justify;
margin-top: 2%;
}


hr {
    color: #044389;
    background: #044389;
    margin: 0;
    padding: 0;
    width: 100%;
}

#about {
  display: flex;
  flex-direction: column;
  color: #044389;
  padding-top: 0;
  padding-bottom: 3%;
  margin-top: 0;
}

.about-content p {
    padding-left: 3%;
    padding-right: 3%;
}

#creations a {
    text-decoration: none;
    font-size: 15px;
    color: #1B2633;
    padding: 1%;
    border-radius: 5px;
}

.flashcard-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.local-library-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.decoder-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pomodorro-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#creations p {
    margin-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

#footer-header {
    margin-top: 3%;
    margin-bottom: 6%;
    padding-left: 4%
}

form label {
    display: block;
    margin-bottom: 2%;
}

form input {
    width: 100%;
    margin-bottom: 2%;
}

form textarea {
    width: 100%;
    background: #a0b9c6;
    border: 1px solid #044389;


}

form input {
    background: #a0b9c6;
    border: 1px solid #044389;
}



.footer-contents {
    display: flex;
    flex-direction: row; 
}

.footer-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#menu ul li {
    padding-bottom: 10%;
}

#menu a {
    text-decoration: none;
    color: #1B2633;
    font-size: 15px;
}

#menu {
    list-style: none;
}

button {
    color: #a0b9c6;
    background: #044389;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-top: 2%;
    text-align: center;
}
@media all and (min-width: 768px) {


.name-and-nav {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
}

.name h1 {
    margin-top: 0;
    font-size: 70px;
    flex: 2;
}

.name-and-nav nav {
    flex: 1;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
}

.name-and-nav nav ul li a {
    font-size: 27px;
}
#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }

  #home {
      display: flex;
      flex-direction: row;
      padding: 3%;
  }

  #home img {
      border-radius: 10px;
      margin-left: 5%;
      width: 50%;
  }

  .home-content h2 {
      margin-top: 10%;
  }

  .home-content p {
      padding-left: 18%;
      padding-right: 18%;
      margin-top: 5%;
  }
  
  #about {
      display: flex;
      flex-direction: row-reverse;
      padding: 3%;
  }

  .about-content {
    margin-bottom: 6%;
  }
  .about-content h2 {
    margin-top: 3%;
}

.about-content p {
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 5%;
}

#about img {
    border-radius: 10px;
    margin-left: 5%;
    width: 50%;

} 

.creations-first-row {
    display: flex;
    flex-direction: row; 
}

.creations-second-row {
    display: flex;
    flex-direction: row; 
    margin-top: 3%;
}

.local-library {
    width: 80%;
}

.decoder-ring {
    width: 80%;
}

.local-library-text {
    padding-left: 15%;
    padding-right: 15%;
}
.decoder-ring-text {
    padding-left: 15%;
    padding-right: 15%;
}

.decoder-ring-text h3 {
    margin-top: 6%;
}

.pomodorro {
    width: 80%;
}

.flash-card-o-matic {
    width: 80%;
}

.pomodorro-text {
    padding-left: 15%;
    padding-right: 15%;
}

.flashcard-text {
    padding-left: 15%;
    padding-right: 15%;
}

.flashcard-text h3 {
    padding-top: 6%;
}


.footer-contents {
    display: flex;
    flex-direction: column;
}

#footer-header {
    padding-right: 5%;
    margin-bottom: 2%;
}

form label {
    text-align: center;
    margin-bottom: 1%;
}

form input {
    width: 200px;
}

form label[for="form-message"] {
    margin-bottom: 0;
}

form textarea {
    display: block;
    width: 50%;
    margin-top: 0;
    margin-left: 25%;
}

button {
    margin-bottom: 2%;
}

.footer-links {
    margin-bottom: 0;
    padding: 0;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    justify-content: space-evenly;
}

.footer-links ul li {
    padding-bottom: 0;
}

#menu {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    padding: 0 0 0 2%;
    margin-bottom: 0%;
    border-top: 1px solid;

}



}